<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ковровское Карьероуправление</title>
  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Flaticon CSS -->
  <link href="fonts/flaticon/flaticon.css" rel="stylesheet">
  <!-- font-awesome CSS -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- Offcanvas CSS -->
  <link href="css/hippo-off-canvas.css" rel="stylesheet">
  <!-- animate CSS -->
  <link href="css/animate.css" rel="stylesheet">
  <!-- language CSS -->
  <link href="css/language-select.css" rel="stylesheet">
  <!-- owl.carousel CSS -->
  <link href="owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <!-- magnific-popup -->
  <link href="css/magnific-popup.css" rel="stylesheet">
  <!-- Main menu -->
  <link href="css/menu.css" rel="stylesheet">
  <!-- Template Common Styles -->
  <link href="css/template.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet">
  <!-- Responsive CSS -->
  <link href="css/responsive.css" rel="stylesheet">

  <script src="js/vendor/modernizr-2.8.1.min.js"></script>
  <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="js/vendor/html5shim.js"></script>
  <script src="js/vendor/respond.min.js"></script>
  <![endif]-->
  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <script src="js/KKUScript.js"></script>
  <!-- Scroll script -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>

</head>


<body id="page-top">
<div id="st-container" class="st-container hippo-offcanvas-wrapper hippo-offcanvas-left slide-in-on-top">
  <div class="st-pusher">
    <div class="st-content">
      <header class="header">

        <nav class="top-bar">
          <div class="overlay-bg">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 ">
                  <div class="call-to-action">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-phone"></i>  +7 (919) 000 8 000</a></li>
                      <li><a href="#"><i class="fa fa-envelope"></i> Sales@kovrovskoe.ru</a></li>
                    </ul>
                  </div><!-- /.call-to-action -->

                </div><!-- /.col-sm-6 -->
                  <div class="col-sm-6 col-xs-12">
                      <div class="topbar-right">
                          <div class="lang-support pull-right">
                              <p class="text-center" style="color: white">Известняковый щебень от производителя</p>

                          </div>


                      </div><!-- /.social-links -->
                  </div>
                <div class="col-sm-3 hidden-xs">
                  <div class="topbar-right">
                    <div class="lang-support pull-right">

                      <a data-toggle="modal" data-target="#quoteModal" href="#" class="btn-sm btn-primary иет">Получить консультацию</a>
                    </div>


                  </div><!-- /.social-links -->
                </div><!-- /.col-sm-6 -->
              </div><!-- /.row -->
            </div><!-- /.container -->
          </div><!-- /.overlay-bg -->
        </nav><!-- /.top-bar -->
        <nav class="navbar navbar-default" role="navigation">

          <div class="container mainnav">
            <div class="navbar-header">
              <h1 class="logo"><a class="navbar-brand" style="padding: 0px; height:auto;" href="index.html"><img src="img/logo.png" alt=""></a></h1>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-collapse">

              <ul class="nav navbar-nav navbar-right">
                <!-- Home <button type="button" id="aboutBtn" class="btn btn-default">Default button</button> -->
                <li><a class="navBtn"  id="advantageBtn">Преимущества<span class=""></span></a></li>
                <li ><a class="navBtn"  id="aboutBtn">О нас <span class=""></span></a></li>
                <li ><a  class="navBtn" id="fractionBtn" >Фракции <span class=""></span></a></li>
                <li ><a  class="navBtn" id="bagBtn" >Щебень в мешках  <span class=""></span></a></li>
                <li ><a  class="navBtn" id="stackBtn" >Щебень в навалом  <span class=""></span></a></li>
                <li ><a  class="navBtn" id="taskBtn" >Задачи  <span class=""></span></a></li>



              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->


        </nav>
      </header>

      <div id="main-carousel" class="carousel slide hero-slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#main-carousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="img/slider/slide-1.jpg" alt="Hero Slide">
            <!--Slide Image-->

            <div class="container">
              <div class="carousel-caption">
                <small class="animated fadeIn">Звоните прямо сейчас</small>
                <div class="phone animated lightSpeedIn">+7 (919) 000 8 000</div>
                <h2 class="animated lightSpeedIn"><b>Добыча и продажа известнякового щебня россыпью и в мешках
                    <br>с доставкой <br>по Владимирской области</b>
                </h2>

                <p class="lead animated lightSpeedIn">Продаем щебень для строительных работ и благоустройства территорий по самым доступным ценам</p>

                <a data-toggle="modal" data-target="#quoteModal" href="#" class="btn btn-primary animated lightSpeedIn">Получить консультацию</a>
              </div>
              <!--.carousel-caption-->
            </div>
            <!--.container-->
          </div>
          <!--.item-->

          <div class="item">
            <img src="img/slider/slide-2.jpg" alt="Hero Slide">
            <!--Slide Image-->

            <div class="container">
              <div class="carousel-caption">

                <h1 class="animated bounceIn">Щебень в мешках – чистота на участке и экономия при строительстве</h1>

                <a  class="btn btn-primary animated bounceIn navBtn" id="bagBtn" >Щебень в мешках  <span class=""></span></a>

              </div>
              <!--.carousel-caption-->
            </div>
            <!--.container-->
          </div>
          <!--.item-->
        </div>
        <!--.carousel-inner-->

        <!-- Controls -->
        <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- #main-carousel-->


      <!-- services start -->
      <section class="service-home section-padding" id="advantage">
        <div class="container text-center">
          <div class="row">
            <div class="col-xs-12">
              <h2 class=" section-sub section-title ">Преимущества нашего сервиса по доставке щебня</h2>

            </div>
          </div> <!-- /.row -->

          <div class="row content-row">
            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home">
                  <a ><img src="img/п-бесплатная-погрузка.jpg" alt=""></a>
                </div>

                <h3>Бесплатная-погрузка</h3>
                <p>Осуществляем бесплатную загрузку щебня<br>в автотранспорт Заказчика   </p>
              </div>
            </div><!-- /.col-sm-4 -->

            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home">
                  <a ><img src="img/п-доставка.jpg" alt=""></a>
                </div>
                <h3>Доставка</h3>
                <p>Доставляем быстро в удобное<br> для Заказчика время. </p>
              </div>

            </div><!-- /.col-sm-4 -->

            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home">
                  <a ><img src="img/п-разгрузка в удобное место.jpg" alt=""></a>
                </div>
                <h3>Удобная разгрузка</h3>
                <p>Разгрузка щебня в удобное для Заказчика место<br>  в мешках высокой прочности 50 кг. </p>
              </div>
            </div><!-- /.col-sm-4 -->
          </div>
          <div class="row content-row">
            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home">
                  <a ><img src="img/п-заказывайте у производителя.jpg" alt=""></a>
                </div>

                <h3>Цены</h3>
                <p>Заказывайте щебень на прямую у производителя<br>по самым доступным ценам. </p>
              </div>
            </div><!-- /.col-sm-4 -->


              <div class="col-sm-4">
                <div class="service">
                  <div class="service-thumb-home">
                    <a ><img src="img/п-весовой контроль.jpg" alt=""></a>
                  </div>
                  <h3>Весовой контроль</h3>
                  <p>Обеспечиваем соответствие оплаченного<br> объема за счет весового контроля. </p>

                </div>
            </div><!-- /.col-sm-4 -->

            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home">
                  <a ><img src="img/п-качество.jpg" alt=""></a>
                </div>
                <h3>Качество</h3>
                <p>Предоставляем паспорт, сертификат качества<br> и бессрочную гарантию на наш товар.</p>

              </div>
            </div><!-- /.col-sm-4 -->
          </div> <!-- /.row --><!-- /.row -->
        </div><!-- /.container -->
      </section>



      <!-- services end -->
      <section class="service-home service-home2 section-padding  " id="about">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h2 class="section-title section-sub">ОАО "Ковровское карьероуправление"
                является одним из крупнейших предприятий строительной индустрии Владимирской области.
              </h2>

            </div>
          </div> <!-- /.row -->

          <div class="row content-row">
            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home thumb-grid">
                  <a ><img src="img/service/ККУ-1.jpg" alt=""></a>
                </div>
                <p>Промышленные разработки месторождения ведутся с 1923 года. Организовано карьероуправление в 1955 году путем объединения Мелеховского известкового завода и мелких карьеров в единое предприятие. </p>

              </div>
            </div><!-- /.col-sm-4 -->

            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home thumb-grid">
                  <a ><img src="img/service/ККУ-2.jpg" alt=""></a>
                </div>
                <p>Обширная инфраструктура включает в себя 4 дробильно-сортировальных завода и более 10 вспомогательных цехов, 3 весовых пункта, более 50 единиц техники.    </p>

              </div>

            </div><!-- /.col-sm-4 -->

            <div class="col-sm-4">
              <div class="service">
                <div class="service-thumb-home thumb-grid">
                  <a ><img src="img/service/ККУ-3.jpg" alt=""></a>
                </div>
                <p>ОАО «Ковровское карьероуправление» имеет собственную сертифицированную лабораторию контроля качества. </p>

              </div>
            </div><!-- /.col-sm-4 -->
          </div> <!-- /.row -->
        </div><!-- /.container -->

      </section>

        <!-- counter start -->
        <section class="counter-section" data-stellar-background-ratio="0.5"  >
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="counter-block">
                  <span class="count-description flaticon-weight15"><strong class="timer">1000</strong>килотонн добываемого щебня в год </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="counter-block">
                  <span class="count-description flaticon-map98"><strong class="timer">900</strong>гектар общая  площадь трех карьеров</span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="counter-block">
                  <span class="count-description flaticon-truck51"><strong class="timer">200 </strong>тысяч литров потребляемого топлива в месяц</span>
                </div>
              </div>
            </div> <!-- /.row -->
          </div><!-- /.container -->
        </section><!-- /.counter-section -->
        <!-- counter end -->

      <!-- services end -->

      <section class="service-home service-home2 section-padding" id="fraction">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h2 class="section-title section-sub ">Фракции</h2>
            </div>
          </div> <!-- /.row -->


          <div class="history-timeline">
            <div id="historyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators" style=" bottom: -50px;">
                <li data-target="#historyCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#historyCarousel" data-slide-to="1"></li>
                <li data-target="#historyCarousel" data-slide-to="2"></li>
                <li data-target="#historyCarousel" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">

                  <div class="row"  style=" padding-bottom: 50px ">
                    <h3 class = "text-center">Фракция  5-10 мм</h3>
                    <div class="col-sm-6">

                      <div class="service-thumb-home thumb-grid" style = "width: 300px; margin: 0 auto;" >
                        <a ><img src="img/ф5-10.jpg"  alt=""></a>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <p>Фракция щебня 5-10 мм используется при:
                        <br>•	производстве высококачественного бетона
                        <br>•	отсыпке поверхностей
                        <br>•	в отделочных работах
                        <br>•	в декоративных целях
                      </p>


                    </div>
                  </div><!-- /.col-sm-4 -->
                </div><!-- /.item -->
                <div class="item">

                  <div class="row"  style=" padding-bottom: 50px ">
                    <h3 class = "text-center">Фракция  5-20 мм</h3>
                    <div class="col-sm-6">

                      <div class="service-thumb-home thumb-grid" style = "width: 300px; margin: 0 auto;" >
                        <a ><img src="img/ф5-20.jpg"  alt=""></a>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <p>Щебень фракции 5-20 мм применяется:
                        <br>•	для производства строительных смесей - извести, растворов, цемента
                        <br>•	для бетона, производства бетонных изделий и подготовки фундамента зданий;
                        <br>•	ремонтно-дорожные работы -асфальтирование, в качестве фундамента широкополосных трасс
                        <br>•	в качестве фундамента аэродромного полотна
                        <br>•	ландшафтные работы - благоустройство территорий
                        <br>•	использование в качестве дренажного материала
                        <br>•	производство минеральных удобрений
                      </p>


                    </div>
                  </div>
                </div><!-- /.item -->

                <div class="item">

                  <div class="row"  style=" padding-bottom: 50px ">
                    <h3 class = "text-center">Фракция  20-40 мм</h3>
                    <div class="col-sm-6">

                      <div class="service-thumb-home thumb-grid" style = "width: 300px; margin: 0 auto;" >
                        <a ><img src="img/ф20-40.jpg"  alt=""></a>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <p>Щебень фракции 20-40 применяется:
                        <br>•	при изготовлении бетона и бетонных конструкций
                        <br>•	для фундамента
                        <br>•	для строительства трамвайных линий
                        <br>•	в качестве насыпи около железных дорог
                        <br>•	для дренажа

                      </p>


                    </div>
                  </div>
                </div><!-- /.item -->
                <div class="item">

                  <div class="row"  style=" padding-bottom: 50px ">
                    <h3 class = "text-center">Фракция  40-70 мм</h3>
                    <div class="col-sm-6">

                      <div class="service-thumb-home thumb-grid" style = "width: 300px; margin: 0 auto;" >
                        <a ><img src="img/ф40-70.jpg"  alt=""></a>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <p>Щебень фракции 40-70 мм применяется:
                        <br>•	в ремонтно-дорожном строительстве
                        <br>•	строительство автомагистралей
                        <br>•	возведение насыпей железнодорожных путей
                        <br>•	ландшафтные работы и декоративная облицовка зданий

                      </p>


                    </div>
                  </div>
                </div><!-- /.item -->

              </div><!-- /.carousel-inner -->
            </div><!-- /.carousel -->
          </div><!-- /.history-timeline -->






        </div><!-- /.container -->

      </section>
      <!-- featuer-section start -->
      <section class="feature-section section-padding" id="bag" style="background: #ebefee;color: #606676">
        <div class="container">
          <div class="row">
            <h2 style="background: #ebefee; color: #606676" class="text-center"><b >Продаем щебень в мешках для строительных работ и благоустройства территорий</b> </h2>

            <div class="col-md-6">
              <img src="img/щебень-в-мешках.jpg" alt="">


            </div><!-- /.col-md-6 -->

            <div class="col-md-6 content-text">
              <h3>Оформите online заказ на нашем сайте прямо сейчас!</h3>
              <h4 >Щебень в мешках это -
                <br><span class="glyphicon glyphicon-ok"></span>	Чистота на участке
                <br><span class="glyphicon glyphicon-ok"></span>	Отсутствие потерь от хранения на земле
                <br><span class="glyphicon glyphicon-ok"></span>	Всегда точный объем и масса
                <br><span class="glyphicon glyphicon-ok"></span>	Разгрузка в удобное для заказчика место
                <br><span class="glyphicon glyphicon-ok"></span>	Экономия времени и затрат при строительстве
                <br><span class="glyphicon glyphicon-ok"></span>	Гарантия качества товара
              </h4>


              <a data-toggle="modal" data-target="#bagModal" href="#" class="btn btn-primary ">Заказать щебень в мешках</a>
              <p>Наши работники <b>бесплатно</b> загрузят мешки с щебнем к Вам в автомобиль. Стоимость доставки автотранспортом компании уточняйте у менеджера.</p>

            </div>

            </div>

          </div>



        <!-- Modal -->
        <div class="modal fade" id="bagModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="quoteModalLabel">Заполните форму и в течении 10 минут с Вами свяжется наш менеджер для подтверждения заказа.</h3>
              </div>
              <div class="modal-body">
                <!--send Form-->
                <form   action = "/make_bag_price" method = "POST" id="BagForm"  style = "width: 300px; margin: 0 auto;">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="bagInputName">Как Вас зовут</label>
                        <input type="text" class="form-control" name="bagName" id="bagInputName" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="bagInputPhone">Ваш телефон*</label>
                        <input type="text" class="form-control" id="bagInputPhone" pattern="\d+" name="bagPhone"  required="" placeholder="">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="bagInputFraction">Выберите фракцию</label>
                        <select class="form-control" name = "bagPrice" id="bagInputFraction" >
                          <option value="5(3) - 20 мм М400">М «400» фракция 5-20 мм</option>
                          <option value="20 - 40 мм М400">М «400» фракция 20-40 мм</option>
                          <option value="5(3) - 10мм М300">М «300» фракция 5-20 мм</option>
                          <option value="20 - 40мм М300">М «300» фракция 20-40 мм</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="bagInputCount">Количество мешков по 50кг</label>
                        <input type="text" class="form-control" name = "bagPrice" id="bagInputCount" pattern="\d+" placeholder="">
                      </div>
                    </div>
                  </div>

                  <div class="row"style="display: block">
                    <div class="col-lg-12">
                      <label for="resBag" style="display: inline-block">Стоимость вашего заказа:</label>
                      <p id="resBag"style="display: inline-block" >0 руб</p>
                    </div>

                  </div>

                  <div class="form-group submit-btn pagination-centered text-center">
                    <button type="submit" class="btn btn-primary">Оформить заказ!</button>
                    <h6 class = "text-center">Нажимая кнопку, вы даете согласие на обработку <a data-toggle="modal" data-target="#lawModal" href="#">персональных данных</a></h6>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- featuer-section end -->
      <section class="feature-section section-padding" style="background:white; color: #606676" id="stack">
        <div class="container">
          <div class="row">
            <h2 style="background:white; color: #606676" class="text-center"><b >Щебень навалом для строительных работ и благоустройства территорий</b> </h2>

            <div class="col-md-6">
              <img src="img/щебень навалом.jpg" alt="">

            </div><!-- /.col-md-6 -->

            <div class="col-md-6 content-text">
              <h3>Оформите online заказ на нашем сайте прямо сейчас!</h3>
              <a data-toggle="modal" data-target="#stackModal" href="#" class="btn btn-primary ">Заказать щебень навалом</a>
            </div>

          </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="stackModal" tabindex="-1" role="dialog" aria-labelledby="stackModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="stackModalLabel">Заполните форму и в течении 10 минут с Вами свяжется наш менеджер для подтверждения заказа.</h3>
              </div>
              <div class="modal-body">
                <!--send Form-->
                <form action = "/make_stack_price" method = "POST"  style = "width: 300px; margin: 0 auto;">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="stackInputName">Как Вас зовут</label>
                        <input type="text" name = "stackName" class="form-control" id="stackInputName" placeholder="">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="stackInputPhone">Ваш телефон*</label>
                        <input type="text" class="form-control" name = "stackPhone" id="stackInputPhone" pattern="\d+" required="" placeholder="">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="stackInputFraction">Выберите фракцию</label>
                        <select class="form-control" name="stackPrice" id="stackInputFraction" >
                          <option value="5(3) - 20 мм М400">фракция 5(3) - 20мм М400</option>
                          <option value="20 - 40 мм М400">фракция 20 - 40мм М400</option>
                          <option value="40 - 70мм М400">фракция 40 - 70мм М400</option>
                          <option value="5(3) - 10мм М300">фракция 5(3) - 10мм М300</option>
                          <option value="5(3) - 20мм М300">фракция 5(3) - 20мм М300</option>
                          <option value="20 - 40мм М300">фракция 20 - 40мм М300</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="stackInputCount">Количество тонн</label>
                        <input type="text" class="form-control" name="stackPrice" id="stackInputCount" placeholder="" pattern="\d+">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="stackInputAddress">Выберите адрес доставки</label>
                        <select class="form-control" name="stackPrice" id="stackInputAddress" >
                            <% for(var i=0; i<Cities.length; i++) {%>
                          <option><%= Cities[i].City %></option>
                            <% } %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12" style="display: block">


                          <label for="resStack" style="display:inline-block">Стоимость вашего заказа:</label>


                          <p id="resStack" style="display:inline-block">0 руб.</p>


                    </div>
                  </div>

                  <div class="form-group submit-btn pagination-centered text-center">
                    <button type="submit" class="btn btn-primary">Оформить заказ!</button>
                    <h6 class = "text-center">Нажимая кнопку, вы даете согласие на обработку <a data-toggle="modal" data-target="#lawModal" href="#">персональных данных</a></h6>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- why-us-setion start -->
      <section class="why-us-setion section-padding" id="task" style=" background: #f5f6f8">
        <div class="container">
          <div class="row text-center">
            <div class="col-xs-12">
              <h2 class="section-title">Выберите задачу,  для решения которой Вам нужен щебень и наш онлайн сервис рассчитает необходимый объем и фракцию. </h2>

            </div>
          </div> <!-- /.row -->

          <div class="row content-row "   style="margin-top: 15px; background: #f5f6f8"  >
            <div class="col-md-12">
              <div class="css-tab" role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#found" aria-controls="secure" role="tab" data-toggle="tab">Щебень для фундамента</a></li>
                  <li role="presentation"><a href="#park" aria-controls="park" role="tab" data-toggle="tab"></i>Засыпка парковочного места</a></li>
                  <li role="presentation"><a href="#road" aria-controls="road" role="tab" data-toggle="tab">Отсыпки дорог</a></li>
                  <li role="presentation"><a href="#fast" aria-controls="fast" role="tab" data-toggle="tab">Другое</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active fade in" id="found">
                    <div class="css-tab-content">
                      <div class="row">
                        <div class="col-md-6">
                          <img src="img/з-фундамент.jpg" alt="">
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 content-text">

                          <div class ="container-fluid ">
                            <div class = "row " >
                              <h4>Введите размеры монолитного фундамента:</h4>
                              <p > Для возведения монолитного фундамента рекомендуют использовать щебень фракции 5-20мм марки М400 </p>
                              <div class="col-lg-3">
                                <label for="lengthFun">Длина, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text"   class="form-control" name="dem"  pattern="\d+" id="lengthFun">
                              </div>
                            </div>

                            <div class = "row " >
                              <div class="col-lg-3">
                                <label for="widthFun">Ширина, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text" name="dem" class="form-control"  pattern="\d+" id="widthFun">
                              </div>
                            </div>

                            <div class = "row " >
                              <div class="col-lg-3">
                                <label for="heightFun">Высота, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text" name="dem" class="form-control"  pattern="\d+" id="heightFun">
                              </div>
                            </div>

                            <div class = "row " style="padding-top: 10px;" >

                              <div class="col-xs-12" style="display: block">
                                <label for="resFun" style="display:inline-block">Всего Вам потребуется:</label>
                                <p id="resFun" style="display:inline-block">0</p>
                                <p  style="display:inline-block">т, или</p>
                                <p id="resFunBag" style="display:inline-block">0 мешков</p>
                              </div>
                            </div>
                            <div class = "row pagination-centered text-center"  >
                              <div class="col-lg-6">
                                <a  class="btn btn-primary sendBagBtn" id="sendBagBtnFun">Заказать в мешке</a>
                              </div>
                              <div class="col-lg-6">
                                <a class="btn btn-primary sendStackBtn" id="sendStackBtnFun">Заказать россыпью</a>
                              </div>
                              </div>
                          </div>
                        </div><!-- /.col-md-6 -->
                      </div><!-- /.row -->
                    </div><!-- /.css-tab-content -->
                  </div>


                  <div role="tabpanel" class="tab-pane fade" id="park">
                    <div class="css-tab-content">
                      <div class="row">
                        <div class="col-md-6">
                          <img src="img/з-парковочное место.jpg" alt="">
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 content-text">
                          <div class ="container-fluid ">
                            <div class = "row " >
                              <h4>Введите размеры парковочного места:</h4>
                              <p > Для засыпки парковочного места рекомендуют использовать щебень фракции 20-40 мм марки М400 </p>
                              <div class="col-lg-3">
                                <label for="lengthPar">Длина, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text"   class="form-control" name="dem"  id="lengthPar">
                              </div>
                            </div>

                            <div class = "row " >
                              <div class="col-lg-3">
                                <label for="widthPar">Ширина, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text" name="dem" class="form-control" id="widthPar">
                              </div>
                            </div>

                            <div class = "row " >
                              <div class="col-lg-3">
                                <label for="heightPar">Высота, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text" name="dem" class="form-control" id="heightPar">
                              </div>
                            </div>

                            <div class = "row " style="padding-top: 10px;" >

                              <div class="col-xs-12" style="display: block">
                                <label for="resPar" style="display:inline-block">Всего Вам потребуется:</label>
                                <p id="resPar" style="display:inline-block">0</p>
                                <p  style="display:inline-block">т, или</p>
                                <p id="resParBag" style="display:inline-block">0 мешков</p>
                              </div>
                            </div>
                            <div class = "row pagination-centered text-center"  >
                              <div class="col-lg-6">
                                <a  class="btn btn-primary sendBagBtn" id="sendBagBtnPar">Заказать в мешке</a>
                              </div>
                              <div class="col-lg-6">
                                <a class="btn btn-primary sendStackBtn" id="sendStackBtnPar">Заказать россыпью</a>
                              </div>
                            </div>
                          </div>
                        </div><!-- /.col-md-6 -->
                      </div><!-- /.row -->
                    </div><!-- /.css-tab-content -->
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="road">
                    <div class="css-tab-content">
                      <div class="row">
                        <div class="col-md-6">
                          <img src="img/з-отсыпка дорог.jpg" alt="">
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 content-text">
                          <div class ="container-fluid ">
                            <div class = "row " >
                              <h4>Введите размеры дороги:</h4>
                              <p > Для отсыпки дороги можно использовать любую подходящую Вам фракцию </p>
                              <div class="col-lg-3">
                                <label for="lengthRod">Длина, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text"   class="form-control" name="dem"  id="lengthRod">
                              </div>
                            </div>

                            <div class = "row " >
                              <div class="col-lg-3">
                                <label for="widthRod">Ширина, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text" name="dem" class="form-control" id="widthRod">
                              </div>
                            </div>

                            <div class = "row " >
                              <div class="col-lg-3">
                                <label for="heightRod">Высота, м</label>
                              </div>
                              <div class = "col-lg-9">
                                <input type="text" name="dem" class="form-control" id="heightRod">
                              </div>
                            </div>

                            <div class = "row " style="padding-top: 10px;" >

                              <div class="col-xs-12" style="display: block">
                                <label for="resRod" style="display:inline-block">Всего Вам потребуется:</label>
                                <p id="resRod" style="display:inline-block">0</p>
                                <p  style="display:inline-block">т, или</p>
                                <p id="resRodBag" style="display:inline-block">0 мешков</p>
                              </div>
                            </div>
                            <div class = "row pagination-centered text-center"  >
                              <div class="col-lg-6">
                                <a  class="btn btn-primary sendBagBtn" id="sendBagBtnRod">Заказать в мешке</a>
                              </div>
                              <div class="col-lg-6">
                                <a class="btn btn-primary sendStackBtn" id="sendStackBtnRod">Заказать россыпью</a>
                              </div>
                            </div>
                          </div>
                        </div><!-- /.col-md-6 -->
                      </div><!-- /.row -->
                    </div><!-- /.css-tab-content -->
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="fast">
                    <div class="css-tab-content">
                      <div class="row">
                        <div class="col-md-6">
                          <p>Мы хотим сделать наш сервис еще совершеннее, чтобы каждому покупателю, которому необходим щебень, было легко и просто выбрать наилучший для себя вариант.
                            Если из предложенных вариантов задач, для которых нужен щебень вы не нашли своего, то заполните форму ниже и в течение 10 минут с Вами свяжется наш менеджер для подробной консультации.
                          </p>
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 content-text">
                          <form id="contactForm" action="sendemail.php" method="POST">
                            <div class="row">

                              <div class="form-group">
                                <label for="contactName">Как вас зовут?</label>
                                <input id="contactName" name="name" type="text" class="form-control"  required="" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group">
                                <label for="contactPhone">Телефон*</label>
                                <input id="contactPhone" name="company" type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="row">
                              <div class="form-group">
                                <label for="cause">Для чего вам нужен щебень:</label>
                                <input id="cause" name="company" type="text" class="form-control" placeholder="">
                              </div>
                            </div>

                            <div class="form-group submit-btn pagination-centered text-center">
                              <button type="submit" class="btn btn-primary" style="width: 100%">Отправить заявку!</button>
                            </div>

                          </form>
                        </div><!-- /.col-md-6 -->
                      </div><!-- /.row -->
                    </div><!-- /.css-tab-content -->
                  </div>
                </div>
              </div><!-- /.css-tab -->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->

        </div><!-- /.container -->
      </section>

      <!-- Modal права -->

      <div class="modal fade" id="lawModal" tabindex="-1" role="dialog" aria-labelledby="lawModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="lawModal">Политика конфиденциальности</h3>
            </div>
            <div class="modal-body">
             <p>Политика Конфиденциальности(далее или Администрация) обязуется сохранять Вашу конфиденциальность в сети Интернет. Настоящая Политика Конфиденциальности, рассказывает о том, как собираются, обрабатываются и хранятся Ваши личные данные. Администрация уделяет большое внимание защите личной информации пользователей. Пользуюсь сайтом , пользователь тем самым дает согласие на применение правил сбора и использования данных, изложенных в настоящем документе.
              Если Вы не согласны с условиями нашей политики конфиденциальности, не используйте сайт !
             </p>
              <p>
              Собираемая информация
              Администрация сайта может собирать следующую информацию о пользователях сайта:
                <br> - Фамилия, Имя, Отчество
                <br> - Адрес электронной почты
                <br> - Номер телефона
                <br> - Прочая информация
              </p>
              <p>
              Использование информации
              Ниже описаны некоторые способы использования личной информации пользователя:
                <br> - для внутреннего отчета
                <br> - для предоставления информации и услуг, которые запрашивает пользователь
                <br> - для ответа на запросы пользователя
                <br> - для улучшения качества продуктов сайта
                <br> - для улучшения качества предоставления услуг
                <br> - для решения различного рода споров
                <br> - для мониторинга работы сайта
                <br> - для отправки различной электронной корреспонденции
                <br> - для проведения опросов
                <br> - для формирования статистических данных
              </p>
              <p>
              Раскрытие информации
              Администрация не продает личные данные пользователя и не передает их третьим лицам без согласия на то пользователя.
              Далее, описаны некоторые случаи передачи личной информации пользователя:

                <br> - для беспрепятственного предоставления услуг третьими лицами с разрешения пользователя

                <br> - в случаях, если это требуется органам спецслужб или если это требует законодательство


                <br> Прочая информация
              Дети любых возрастов могут беспрепятственно пользоваться данным сайтом.
              </p>
            </div>
          </div>
        </div>
      </div>


      <!-- cta start -->
      <section class="cta-section">
        <div class="container text-center">
          <a data-toggle="modal" data-target="#quoteModal" href="#" class="btn btn-primary quote-btn">Напиши нам!</a>

          <!-- Modal -->
          <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h3 class="modal-title text-center" id="quoteModalLabel" >Не знаете какой щебень Вам нужен? Отправте заявку и наши специалисты проконсультируют Вас!</h3>
                </div>
                <div class="modal-body">
                  <form id="contactForm"  style = "width: 300px; margin: 0 auto;">
                    <div class="row">

                        <div class="form-group">
                          <label for="contactName">Как вас зовут?</label>
                          <input id="contactName" name="name" type="text" class="form-control"  required="" placeholder="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group">
                          <label for="contactPhone">Телефон*</label>
                          <input id="contactPhone" name="phone" type="text" class="form-control" placeholder="">
                        </div>
                      </div>

                    <div class="form-group submit-btn pagination-centered text-center">
                      <button type="submit" class="btn btn-primary" id = "contactSubmit"style="width: 100%">Отправить заявку!</button>
                      <h6 class = "text-center">Нажимая кнопку, вы даете согласие на обработку <a data-toggle="modal" data-target="#lawModal" data-dismiss="modal" href="#">персональных данных</a></h6>
                    </div>

                  </form>

                  <script>
                      $(function() {
                          $('#contactSubmit').click(function(event) {
                              event.preventDefault(); // Stops browser from navigating away from page
                              var data = {
                                  name: $('#contactName').val(),
                                  phone: $('#contactPhone').val()
                              };
                              // build a json object or do something with the form, store in data
                              sendSupPost(data);
                          });
                      });
                  </script>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /.container -->
      </section><!-- /.cta-section -->
      <!-- cta end -->

      <!-- footer-widget-section start -->
      <section class="footer-widget-section section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-4">
              <div class="footer-widget">
                <h3>Юридический адресс</h3>

                <address>
                  601966, Россия, Владимирская обл.<br>
                  Ковровский район,Мелехово<br>
                  улица Первомайская, 92<br>

                </address>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="footer-widget">
                <h3>График Работы</h3>
                <p>
                  Ежедневно по рабочим дням<br> с 8:00 до 17:00<br>
                  Отгрузка готовой продукции осуществляется до 23:00
                </p>

              </div><!-- /.footer-widget -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-4">
              <div class="footer-widget">
                <h3 class="text-center">Контакты</h3>
                <p class="text-center">
                  Телефон:(49232) 7-86-75<br>
                  Факс:(49232) 7-83-74<br>
                  E-mail: info@kovrovskoe.ru
                </p>
              </div>
              </div><!-- /.footer-widget -->
              </div>

          </div><!-- /.row -->
        <!-- /.container -->
      </section><!-- /.cta-section -->
      <!-- footer-widget-section end -->

      <!-- copyright-section start -->

      <!-- copyright-section end -->
    </div> <!-- .st-content -->
  </div> <!-- .st-pusher -->

  <!-- OFF CANVAS MENU -->

</div><!-- /st-container -->


<!-- Preloader -->
<div id="preloader">
  <div id="status">
    <div class="status-mes"></div>
  </div>
</div>


<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- owl.carousel -->
<script src="owl.carousel/owl.carousel.min.js"></script>
<!-- Magnific-popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Offcanvas Menu -->
<script src="js/hippo-offcanvas.js"></script>
<!-- inview -->
<script src="js/jquery.inview.min.js"></script>
<!-- stellar -->
<script src="js/jquery.stellar.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- classie -->
<script src="js/classie.js"></script>
<!-- selectFx -->
<script src="js/selectFx.js"></script>
<!-- sticky kit -->
<script src="js/jquery.sticky-kit.min.js"></script>
<!-- GOGLE MAP -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!--TWITTER FETCHER-->
<script src="js/twitterFetcher_min.js"></script>
<!-- Custom Script -->
<script src="js/scripts.js"></script>

</body>
</html>
